@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@400&family=Space+Grotesk:wght@500&display=swap');

* {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0B0C10;
    color: #EDEDED;
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Space Grotesk', sans-serif;
    background: none;
    border: none;
    cursor: pointer;
}